.header{
    height: 795px;
}
.header_container{
    width: 100%;
    height: 718px;
    background-image: url("/img/headerimg\ 3.png");
    background-position: center;
    background-size: cover;
}
.header_nav_container{
    height: 103px;
    background-color: #27262A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &_logo{
        display: flex;
        align-items: center;
        gap: 17px;
        &_name{
            color: #8D81AC;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            text-transform: uppercase;
            display: none;
            cursor: default;
        }
    }
    &_buyBtn{
        width: 119px;
        height: 37px;
        border-radius: 40px;
        border-style: none;
        background-color: rgba(141, 129, 172, 1);
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
    }
    &_burgerBtn{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        gap: 6px;
        &_line{
            height: 3px;
            border-radius: 5px;
            background: #FFF;
            &_short{
                width: 15px;
            }
            &_long{
                width: 26px;
            }
        }
        &_cross{
            display: none;
        }
    }
    &_hResolutin{
        display: none;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        &_logo{
            display: none;
        }
        &_nav{
            display: flex;
            justify-content: center;
            align-items: center;
            &_list{
                display: flex;
                list-style: none;
                gap: 47px;
                &_item{
                    & a{
                        text-decoration: none;
                        color: #8D81AC;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                    }
                }
            }
        }
        &_buyBtn{
            display: none;
        }
        
    }
}
.forkApp{
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    padding-top: 49px;
    &_title{
        color: #FFF;
        font-size: 48px;
        font-weight: 700;
    }
    &_subTitle{
        color: #8D81AC;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 19px;
        padding-bottom: 14px;
    }
    &_osInfo{
        color: #848E97;
        font-size: 14px;
        font-weight: 400;
    }
}
.header_download{
    padding-top: 393px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_btn{
        box-sizing: border-box;
        padding: 12px 39px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        border-style: none;
        border-radius: 40px;
        background: #8D81AC;
    }
    &_description{
        padding-top: 12px;
        color: #848E97;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}
.burgerMenu{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    margin: 0 auto;
    width: 293px;
    height: 378px;
    &_content{
        display: flex;
        justify-content: center;
        height: 100%;
        &_list{
            display: flex;
            flex-direction: column;
            list-style: none;
            height: 100%;
            width: 100%;
            justify-content: space-around;
            &_item{
                flex: 1;
                width: 100%;
                box-sizing: border-box;
                background-color: rgba(59, 59, 59, 1);
                border: 1px solid rgba(51, 51, 51, 1);
                display: flex;
                align-items: center;
                & a{
                    padding-left: 40px;
                    text-decoration: none;
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                }
            }
        }
    }
}
.active_burgerBtn{
    display: flex;
}
.active_burgerMenu{
    display: flex;
}
@media(min-width : 480px){
    .header{
        height: 868px;
    }
    .header_container{
        height: 800px;
        background-image: url("/img/headerimg\ 2.png");
    }
    .forkApp{
        padding-top: 68px;
        &_title{
            font-size: 72px;
        }
        &_subTitle{
            font-size: 24px;
            padding-top: 19px;
            padding-bottom: 19px;
        }
        &_osInfo{
            font-size: 14px;
        }
    }
    .header_download{
        padding-top: 410px;
        &_btn{
            padding: 23px 60px;
            font-size: 21px;
        }
        &_description{
            padding-top: 18px;
        }
    }
}
@media(min-width : 535px){
    .header{
        &_nav_container{
            height: 118px;
        }
    }
    .headerContent{
        padding: 20px 10px;
        justify-content: space-between;
        &_logo{
            &_name{
                display: block;
            }
        }
        &_hResolutin{
            display: flex;
        }
    }
    .active{
        &_burgerBtn{
            display: none;
        }
        &_burgerMenu{
            display: none;
        }
    }
    .header_download{
        padding-top: 395px;
    }
}
@media(min-width : 706px){
    .header_download{
        padding-top: 420px;
    }
}
//-------------------------------------------------
@media(min-width : 993px){
    .header_container{
        height: 800px;
        background-image: url("/img/header_img\ 1.png");
    }
    .header_nav_container{
        background: none;
    }
    .headerContent{
        display: none;
    }
    .headerContent_hResolutin{
        width: 100%;
        box-sizing: border-box;
        padding: 0 40px;
        justify-content: space-between;
        &_container{
            display: flex;
            gap :48px;
        }
        &_logo{
            display: flex;
            align-items: center;
        }
        &_buyBtn{
            display: block;
        }
    }
    .forkApp{
        padding-top: 68px;
        &_title{
            font-size: 82px;
        }
        &_subTitle{
            font-size: 30px;
            padding-top: 19px;
            padding-bottom: 19px;
        }
        &_osInfo{
            font-size: 16px;
        }
    }
    .header_download{
        padding-top: 405px;
    }
    .headerContent_logo_name{
        padding-left: 17px;
    }
    .headerContent_hResolutin_nav_list_item:hover a {
        color:#FFF;
    }
    .headerContent_hResolutin_logo:hover .headerContent_logo_name {
        color:#FFF;
    }
    .headerContent_hResolutin_buyBtn:hover {
        background-color: #FFF;
        color: #8D81AC;
        border: 1px solid #8D81AC;
    }
    .header_download_btn:hover {
        background-color: #FFF;
        color: #8D81AC;
        border: 1px solid #8D81AC;
    }
}
@media(min-width : 1100px){
    .headerContent_hResolutin{
        padding: 0 80px;
    }
}

