<header class="header">
    <div class="header_container">
        <div class="header_nav_container">
            <div class="container">
                <div class="headerContent">
                    <div class="headerContent_logo" onmouseover="changeImage()" onmouseout="restoreImage()">
                        <img src="/img/Logo.png" alt="logo" class="headerContent_logo_img">
                        <h3 class="headerContent_logo_name">ForkIO</h3>
                    </div>
                    <button class="headerContent_buyBtn">Buy Now</button>
                    <div class="headerContent_burgerBtn active_burgerBtn">
                        <span class="headerContent_burgerBtn_line headerContent_burgerBtn_line_short"></span>
                        <span class="headerContent_burgerBtn_line headerContent_burgerBtn_line_long"></span>
                        <span class="headerContent_burgerBtn_line headerContent_burgerBtn_line_long"></span>
                    </div>
                    <div class="headerContent_burgerBtn_cross">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 25 25" fill="none">
                            <line x1="1" y1="1" x2="24" y2="24" stroke="white" stroke-width="2"/>
                            <line x1="1" y1="24" x2="24" y2="1" stroke="white" stroke-width="2"/>
                        </svg>
                    </div>
                </div>
                <div class="headerContent_hResolutin">
                    <div class="headerContent_hResolutin_logo" onmouseover="changeImage()" onmouseout="restoreImage()">
                        <img id="logoImg" src="/img/Logo.png" alt="logo" class="headerContent_logo_img">
                        <h3 class="headerContent_logo_name">ForkIO</h3>
                    </div>
                    <div class="headerContent_hResolutin_container">
                        <nav class="headerContent_hResolutin_nav">
                            <ul class="headerContent_hResolutin_nav_list">
                                <li class="headerContent_hResolutin_nav_list_item"><a href="">Overview</a></li>
                                <li class="headerContent_hResolutin_nav_list_item"><a href="">About Fork</a></li>
                                <li class="headerContent_hResolutin_nav_list_item"><a href="">Buying Options</a></li>
                                <li class="headerContent_hResolutin_nav_list_item"><a href="">Support</a></li>
                            </ul>
                        </nav>
                        <button class="headerContent_buyBtn headerContent_hResolutin_buyBtn">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="burgerMenu">
            <div class="container">
                    <nav class="burgerMenu_content">
                        <ul class="burgerMenu_content_list">
                            <li class="burgerMenu_content_list_item"><a href="">Overview</a></li>
                            <li class="burgerMenu_content_list_item"><a href="">About Fork</a></li>
                            <li class="burgerMenu_content_list_item"><a href="">Buying Options</a></li>
                            <li class="burgerMenu_content_list_item"><a href="">Support</a></li>
                        </ul>
                    </nav>
            </div>
        </div>
        <div class="container">
            <div class="forkApp">
                <h1 class="forkApp_title">Fork App</h1>
                <h2 class="forkApp_subTitle">A Real Gamechanger In The World Of Web-Development</h2>
                <p class="forkApp_osInfo">v. 2.8 For Mac and Windows</p>
            </div>
        </div>
        <div class="header_download">
            <button class="header_download_btn">Download For Free Now</button>
            <p class="header_download_description">Unlimited 30-Days Trial Period</p>
        </div>
    </div>
</header>
